#chat-page .chat-me .am-list-extra{
    flex-basis: auto; /*宽度包裹内容*/
}
.chat-me{
    position: relative;
}

#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}
.fixed-to-bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
}
#chat-page {
    position: relative;
}
.stick-top{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
/*.am-list-body{
    margin-top: 45px;
}*/
